

/* google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}


main{
    max-width: 1440px;
    margin: 0 auto;
}
/* shared Styles */

section{
    margin-bottom: 50px;
}

.display-flex{
    display: flex;
}

/* dark 02 */
.color-gray{
    color: #424242;
}

/* dark 03 */
.color-light-gray{
    color: #727272;
}

/* dark 01 */
.color-black{
    color:#000000;
}

.text-center{
    text-align: center;
}
.color-primary{
    color: #FF900E;
}
.bg-primary {
    background-color: #FF900E;
}

.primary-btn{
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* header styles */

header{
    max-width: 1920px;
    height: 1382px;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 50px;
}

/* nav styles */
.brand{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 800;
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    gap: 40px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-weight: 500;
    font-size: 1.12rem;
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    border-bottom: 2px solid #FF900E;
}

/* header banner styles */

.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.banner-description{
    font-size: 1.12rem;
    line-height: 26px;
}

.banner-image img{
   max-width: 100%;
}


/* features Section styles */

#quick-list{
    font-weight: normal;
}

.feature-title{
    font-size: 2.8rem;
}

.feature-description{
    font-size: 1.12rem;
    line-height: 26px;
}

.features{
    justify-content: center;
    align-items: center;
    gap: 76px;
}

.teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#conditional-h1{
    display: none;
    font-size: 2rem;
    font-weight: 600;
}

.features-content{
    max-width: 537px;
    max-height: 350px;
    text-align: left;
}




/* responsive Styles here */
@media screen and (max-width: 576px){
    header{
        height: 1250px;
        margin-bottom: 50px;
    }
    .display-flex{
        flex-direction: column;
        align-content: center;
    }
    nav ul{
        padding: 0;
    }
    nav ul li a{
        font-weight: 600;
        font-size: 2rem;
        opacity: 0.7;
    }
    .banner-title{
        font-size: 2.8rem;
        font-weight: 800;
    }
    
    .banner-image img{
        width: 100%;
        padding-bottom: 30px;
    }

    /* features section responsive  styles */
    .features{
        margin-top: 130px;
    }

    .features-content{
        padding: 5px;
    }
    .feature-title{
        font-size: 2rem;
    }
    
    .teams{
        grid-template-columns: repeat(1, 1fr);
    }
    #conditional-h1{
        display: block;
    }

    .teams img{
        max-width: 100%;
    }

    .primary-btn{
        padding: 15px 20px;
        font-size: 1.12rem;
    }

}